a:link {
    text-decoration: none;
    color:black;
}
a:visited {
    color: black;
}

h1 {
    background-color: #5F9F9F;
    height: 50px;
    width: 150px;
    padding: 20px;
    font-size: 40px;
    border: 4px solid #344152;
}