table {
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
}

tr:nth-child(even) {background-color: #f2f2f2;}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border: 1px solid green;
}
form {
    padding: 20px;
    border: 1px solid black;
}